<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> WanderLust </title>
</head>
<body>
    <h3> Edit Listings </h3>

    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <input type="text" name="listing[title]" value="<%=listing.title %>">
        <br> <br>
        <textarea name="listing[description]"><%= listing.description %></textarea>
        <br> <br>

        <img src="<%= listing.image %>" alt="listing image" />

        <!-- <input type="text" name="listing[image]" value="<%=listing.image %>"> -->
        <br> <br>
        <input type="number" name="listing[price]" value="<%=listing.price %>">
        <br> <br>
        <input type="text" name="listing[Locations]" value="<%=listing.location %>">
        <br> <br>
        <input type="text" name="listing[Country]" value="<%=listing.country %>">
        <br> <br>
        <Button>Add</Button>
    </form>
    
    
    <script>
        const imgInput = document.getElementById("imgInput");
        const preview = document.getElementById("preview");
      
        imgInput.addEventListener("input", () => {
          const url = imgInput.value;
          preview.src = url;
          preview.style.display = url ? "block" : "none";
        });
      </script>
</body>
</html>
